/hotelservices/.phpunit.cache
/hotelservices/node_modules
/hotelservices/public/build
/hotelservices/public/hot
/hotelservices/public/storage
/hotelservices/storage/*.key
/hotelservices/storage/pail
/hotelservices/vendor
/hotelservices/.env
/hotelservices/.env.backup
/hotelservices/.env.production
/hotelservices/.phpactor.json
/hotelservices/.phpunit.result.cache
/hotelservices/Homestead.json
/hotelservices/Homestead.yaml
/hotelservices/npm-debug.log
/hotelservices/yarn-error.log
/hotelservices/auth.json
/hotelservices/.fleet
/hotelservices/.idea
/hotelservices/.nova
/hotelservices/.vscode
/hotelservices/.zed
# Logs 
/hotelfront/logs
/hotelfront/*.log
/hotelfront/npm-debug.log*
/hotelfront/yarn-debug.log*
/hotelfront/yarn-error.log*
/hotelfront/pnpm-debug.log*
/hotelfront/lerna-debug.log*

# Node modules & build files
/hotelfront/node_modules
/hotelfront/dist
/hotelfront/dist-ssr
/hotelfront/*.local

# Editor directories and files
/hotelfront/.vscode/*
!/hotelfront/.vscode/extensions.json
/hotelfront/.idea
/hotelfront/.DS_Store
/hotelfront/*.suo
/hotelfront/*.ntvs*
/hotelfront/*.njsproj
/hotelfront/*.sln
/hotelfront/*.sw?